<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
    <title>Flask Forms</title>
</head>
<body>
  

  <nav class="nav nav-pills flex-column flex-sm-row navbar-light" style="background-color: #ebd3eb;">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="{{ url_for('home') }}">Create club</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('clubs') }}">Clubs</a>
 </nav>



  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Much longer nav link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
  
    <br><br>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>